[data-animate].fib-40,
[data-animate] .fib-40 {
  transform: translateY(40px);
  opacity: 0;

  @media screen and (max-width: $screen-md - 1) {
    transform: none;
    opacity: 1;
  }
}

[data-animate].animated.fib-40,
[data-animate].animated .fib-40 {
  animation-name: fade-in-bottom-40px;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;

  @media screen and (max-width: $screen-md - 1) {
    transform: none;
    opacity: 1;
    animation: none;
  }
}

[data-animate].d-200,
[data-animate] .d-200 {
  animation-delay: 0.2s;
}

[data-animate].d-300,
[data-animate] .d-300 {
  animation-delay: 0.3s;
}

[data-animate].d-400,
[data-animate] .d-400 {
  animation-delay: 0.4s;
}
