.about__inner {
  position: relative;
  width: 100%;
  max-width: 1630px;
  margin: 0 auto;
  padding: 110px 30px 40px;

  @media screen and (max-width: $screen--xxl - 1) {
    max-width: 1240px;
    padding-top: 95px;
    padding-bottom: 100px;
  }

  @media screen and (max-width: $screen--lg - 1) {
    max-width: 960px;
    padding-right: 20px;
    padding-left: 20px;
  }

  @media screen and (max-width: $screen--md - 1) {
    padding-top: 60px;
    padding-bottom: 42px;
  }

  @media screen and (max-width: $screen--sm - 1) {
    padding-top: 40px;
  }
}

.about__title-wrap {
  text-align: center;
}

.about__title {
  position: relative;
  display: inline-block;
  margin: 0 0 78px;
  font-weight: 300;
  font-size: 66px;
  letter-spacing: 5px;

  @media screen and (max-width: $screen--xxl - 1) {
    margin-bottom: 170px;
    font-size: 45px;
  }

  @media screen and (max-width: $screen--md - 1) {
    margin-bottom: 65px;
  }

  @media screen and (max-width: $screen--sm - 1) {
    font-size: 28px;
  }
}

.about__title svg {
  position: absolute;
  top: 100%;
  right: 5px;
  width: 102px;
  height: 5px;
  fill: currentColor;
  transform: scaleX(-1);

  @media screen and (max-width: $screen--xxl - 1) {
    width: 68px;
    height: 3px;
  }
}

.about__content-wrap {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: $screen--xxl - 1) {
    flex-direction: column;
  }
}

.about__left {
  max-width: 870px;
  padding-left: 180px;

  @media screen and (max-width: $screen--xxl - 1) {
    order: 1;
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }
}

.about__label {
  position: absolute;
  top: 0;
  left: 40px;
  margin: 0;
  border-right: 0;
  transform: translateX(-100%) rotate(-90deg);
  transform-origin: right top;

  @media screen and (max-width: $screen--xxl - 1) {
    display: none;
  }
}

.about__slogan {
  max-width: 408px;
  margin: 0;
  font-size: 67px;
  line-height: 1.25;

  @media screen and (max-width: $screen--xxl - 1) {
    max-width: none;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 82px;
  }

  @media screen and (max-width: $screen--md - 1) {
    margin-bottom: 5px;
    font-size: 45px;
  }

  @media screen and (max-width: $screen--xs - 1) {
    font-size: 38px;
  }
}

.about__subslogan {
  position: relative;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 5px;
  padding-right: 264px;
  font-size: 33px;
  letter-spacing: 2px;

  @media screen and (max-width: $screen--xxl - 1) {
    margin-bottom: 20px;
    padding: 0 0 40px;
    font-size: 42px;
  }

  @media screen and (max-width: $screen--md - 1) {
    padding-bottom: 25px;
    font-size: 23px;
  }

  @media screen and (max-width: $screen--xs - 1) {
    font-size: 20px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 11px;
    right: 1px;
    display: block;
    width: 256px;
    height: 1px;
    background-color: $color-main;

    @media screen and (max-width: $screen--xxl - 1) {
      right: 50%;
      transform: translateX(50%);
    }

    @media screen and (max-width: $screen--md - 1) {
      width: 140px;
    }
  }
}

.about__text {
  font-size: 20px;
  color: #212121;

  @media screen and (max-width: $screen--xxl - 1) {
    font-size: 31px;
  }

  @media screen and (max-width: $screen--md - 1) {
    width: 80%;
    margin: 0 auto;
    font-size: 17px;
  }

  @media screen and (max-width: $screen--xs - 1) {
    width: 100%;
  }
}

.about__text p {
  margin-top: 0;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.about__right {
  margin-left: 50px;
  padding-top: 50px;

  @media screen and (max-width: $screen--xxl - 1) {
    margin: 0 0 85px;
    padding: 0;
  }

  @media screen and (max-width: $screen--md - 1) {
    margin-bottom: 50px;
  }
}
