.event-type {
  background-color: #e8e8e8;

  @media screen and (max-width: $screen-md - 1) {
    background-color: $color-body;
  }
}

.event-type__inner {
  width: 100%;
  max-width: 1630px;
  margin: 0 auto;
  padding: 170px 30px 70px;

  @media screen and (max-width: $screen-lg - 1) {
    padding-top: 140px;
  }

  @media screen and (max-width: $screen-md - 1) {
    padding-top: 60px;
  }

  @media screen and (max-width: $screen--sm - 1) {
    max-width: none;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }
}

.event-type__title-wrap {
  text-align: center;
}

.event-type__title {
  margin: 0 0 60px;
  color: $color-text;
}

.event-type__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -10px;
  padding: 40px 0 0;
  list-style: none;

  @media screen and (max-width: $screen-md - 1) {
    max-width: 700px;
    margin: 0 auto;
    padding-top: 0;
    flex-direction: column;
    justify-content: flex-start;
  }

  @media screen and (max-width: $screen--sm - 1) {
    max-width: none;
  }
}

.event-type__item {
  width: 31%;
  max-width: 460px;
  margin-right: 10px;
  margin-left: 10px;

  @media screen and (min-width: $screen-md) and (max-width: $screen-lg - 1) {
    width: 29.5%;
  }

  @media screen and (max-width: $screen-md - 1) {
    width: 100%;
    max-width: none;
    margin: 0 0 5px;
  }

  &--big {
    @media screen and (min-width: $screen-md) and (max-width: $screen-lg - 1) {
      width: 32.5%;
    }
  }
}
