.event-type {
  background-color: #e8e8e8;

  @media screen and (max-width: $screen--md - 1) {
    background-color: $color-body;
  }
}

.event-type__inner {
  width: 100%;
  max-width: 1630px;
  margin: 0 auto;
  padding: 170px 30px 70px;

  @media screen and (max-width: $screen--xxl - 1) {
    max-width: 1280px;
    padding: 110px 15px 280px;
  }

  @media screen and (max-width: $screen--lg - 1) {
    max-width: 960px;
  }

  @media screen and (max-width: $screen--md - 1) {
    max-width: none;
    padding: 0;
  }
}

.event-type__title-wrap {
  text-align: center;
}

.event-type__title {
  margin: 0 0 60px;
  color: $color-text;

  @media screen and (max-width: $screen--xxl - 1) {
    font-size: 45px;
  }

  @media screen and (max-width: $screen--md - 1) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0);
  }
}

.event-type__title svg {
  @media screen and (max-width: $screen--xxl - 1) {
    left: 2px;
    width: 68px;
    height: 3px;
  }
}

.event-type__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 40px 0 0;
  list-style: none;

  @media screen and (max-width: $screen--xxl - 1) {
    align-items: center;
    padding-top: 90px;
  }

  @media screen and (max-width: $screen--md - 1) {
    padding-top: 0;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.event-type__item {
  flex-grow: 1;
  max-width: 460px;
  margin-right: 20px;

  @media screen and (max-width: $screen--xxl - 1) {
    max-width: 380px;
  }

  @media screen and (max-width: $screen--lg - 1) {
    max-width: 280px;
  }

  @media screen and (max-width: $screen--md - 1) {
    max-width: none;
    margin-top: 4px;
    margin-right: 0;
  }

  &:nth-child(3n) {
    margin-right: 0;
  }

  &--big {
    @media screen and (max-width: $screen--xxl - 1) {
      max-width: 430px;
    }

    @media screen and (max-width: $screen--lg - 1) {
      max-width: 300px;
    }

    @media screen and (max-width: $screen--md - 1) {
      max-width: none;
    }
  }
}
