.features__inner {
  width: 100%;
  max-width: 1630px;
  margin: 0 auto;
  padding: 170px 30px 92px;

  @media screen and (max-width: $screen-lg - 1) {
    padding-top: 140px;
  }

  @media screen and (max-width: $screen-md - 1) {
    padding-top: 60px;
  }

  @media screen and (max-width: $screen-xxs--425 - 1) {
    padding-right: 15px;
    padding-bottom: 30px;
    padding-left: 15px;
  }
}

.features__title-wrap {
  text-align: center;
}

.features__title {
  margin: 0 0 60px;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1182px;
  margin: 0 auto;
  padding: 0;
  list-style: none;

  @media screen and (max-width: $screen-md - 1) {
    max-width: 600px;
  }

  @media screen and (max-width: $screen-xxs--425 - 1) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 240px;
  }
}

.features__item {
  position: relative;
  flex: 1 1 33%;
  max-width: 394px;
  padding: 35px 44px 38px;
  font-weight: 700;
  font-size: 33px;
  text-align: center;

  @media screen and (max-width: $screen-lg - 1) {
    flex-basis: 50%;
    max-width: none;
  }

  @media screen and (max-width: $screen-md - 1) {
    padding: 30px 25px 25px;
    font-size: 22px;
  }

  @media screen and (max-width: $screen-xs--550 - 1) {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
  }

  @media screen and (max-width: $screen-xxs--425 - 1) {
    width: 100%;
    margin-bottom: 30px;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
  }

  &:nth-child(n + 4) {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 30px;
      display: block;
      width: calc(100% - 60px);
      height: 2px;
      background-color: $color-main;

      @media screen and (max-width: $screen-lg - 1) {
        content: none;
      }
    }
  }

  &:nth-child(n + 3) {
    &::before {
      @media screen and (max-width: $screen-lg - 1) {
        content: "";
        position: absolute;
        top: 0;
        left: 30px;
        display: block;
        width: calc(100% - 60px);
        height: 2px;
        background-color: $color-main;
      }

      @media screen and (max-width: $screen-md - 1) {
        height: 1px;
      }

      @media screen and (max-width: $screen-xxs--425 - 1) {
        content: none;
      }
    }
  }

  &:nth-child(3n) {
    &::after {
      content: none;

      @media screen and (max-width: $screen-lg - 1) {
        content: "";
      }

      @media screen and (max-width: $screen-xxs--425 - 1) {
        content: none;
      }
    }
  }

  &:nth-child(even) {
    &::after {
      @media screen and (max-width: $screen-lg - 1) {
        content: none;
      }
    }
  }

  &:nth-child(n) {
    &::after {
      @media screen and (max-width: $screen-xxs--425 - 1) {
        content: "";
      }
    }
  }

  &:last-child {
    @media screen and (max-width: $screen-xxs--425 - 1) {
      margin-bottom: 0;
    }

    &::after {
      @media screen and (max-width: $screen-xxs--425 - 1) {
        content: none;
      }
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 30px;
    right: 0;
    display: block;
    width: 2px;
    height: calc(100% - 60px);
    background-color: $color-main;

    @media screen and (max-width: $screen-md - 1) {
      width: 1px;
    }

    @media screen and (max-width: $screen-xxs--425 - 1) {
      top: 100%;
      right: 30px;
      width: calc(100% - 60px);
      height: 1px;
    }
  }
}

.features__item .features__item-content {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 65px;
    height: 70px;
    transform: translateX(-50%);

    @media screen and (max-width: $screen-md - 1) {
      width: 46px;
      height: 46px;
    }
  }
}

.features__item--ask .features__item-content {
  &::before {
    background: url("../img/bg/microphone.svg") center top/100% no-repeat;
  }
}

.features__item--poll .features__item-content {
  &::before {
    background: url("../img/bg/bar-chart.svg") center top no-repeat;
  }
}

.features__item--stat .features__item-content {
  &::before {
    background: url("../img/bg/line-chart.svg") center top no-repeat;
  }
}

.features__item--vote .features__item-content {
  &::before {
    background: url("../img/bg/medal.svg") center top no-repeat;
  }
}

.features__item--survey .features__item-content {
  &::before {
    background: url("../img/bg/flag.svg") center top no-repeat;
  }
}

.features__item--privacy .features__item-content {
  &::before {
    background: url("../img/bg/lock.svg") center top no-repeat;
  }
}

.features__item-content {
  position: relative;
  padding-top: 75px;

  @media screen and (max-width: $screen-md - 1) {
    padding-top: 55px;
  }
}

.features__item-content p {
  margin: 0;
}
