.field {
  width: 100%;
  padding: 9px 25px;
  font-size: 22px;
  line-height: 1.2;
  font-family: $font-family;
  color: $color-main;
  background-color: $color-white;
  border: none;
  border-radius: 0;

  @media screen and (max-width: $screen-lg - 1) {
    padding-right: 14px;
    padding-left: 14px;
    font-size: 20px;
  }

  &::placeholder {
    color: $color-main;
  }

  &--text {
    height: 60px;
  }
}
