.info__inner {
  width: 100%;
  max-width: 1630px;
  margin: 0 auto;
  padding: 170px 30px 140px;

  @media screen and (max-width: $screen--xxl - 1) {
    max-width: 1240px;
    padding: 110px 20px 25px;
  }

  @media screen and (max-width: $screen--lg - 1) {
    max-width: 960px;
  }

  @media screen and (max-width: $screen--md - 1) {
    padding-top: 50px;
    padding-bottom: 38px;
  }
}

.info__title-wrap {
  text-align: center;
}

.info__title {
  margin: 0 0 108px;

  @media screen and (max-width: $screen--xxl - 1) {
    margin-bottom: 46px;
    font-size: 45px;
  }

  @media screen and (max-width: $screen--md - 1) {
    margin-bottom: 60px;
  }

  @media screen and (max-width: $screen--sm - 1) {
    margin-bottom: 45px;
    font-size: 28px;
  }
}

.info__title svg {
  @media screen and (max-width: $screen--xxl - 1) {
    left: 2px;
    width: 68px;
    height: 3px;
  }
}

.info__list {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;

  @media screen and (max-width: $screen--xxl - 1) {
    padding-right: 90px;
    padding-left: 90px;
  }

  @media screen and (max-width: $screen--lg - 1) {
    padding: 0;
  }

  @media screen and (max-width: $screen--md - 1) {
    flex-wrap: wrap;
    justify-content: center;
    max-width: 760px;
    margin: 0 auto;
  }

  @media screen and (max-width: $screen--sm - 1) {
    max-width: 500px;
  }

  @media screen and (max-width: $screen--xs - 1) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

.info__item {
  position: relative;
  flex: 1 1 320px;
  margin-right: 30px;
  padding-top: 178px;
  text-align: center;

  @media screen and (max-width: $screen--xxl - 1) {
    padding-top: 120px;
  }

  @media screen and (max-width: $screen--lg - 1) {
    margin-right: 20px;
  }

  @media screen and (max-width: $screen--md - 1) {
    max-width: 230px;
    margin-right: 0;
    margin-bottom: 50px;
    padding-top: 135px;
  }

  @media screen and (max-width: $screen--xs - 1) {
    flex-basis: auto;
    padding-top: 115px;
  }

  &:nth-child(odd) {
    @media screen and (max-width: $screen--md - 1) {
      margin-right: 40px;
    }

    @media screen and (max-width: $screen--sm - 1) {
      margin-right: 0;
    }
  }

  &:last-child {
    margin-right: 0;

    @media screen and (max-width: $screen--xs - 1) {
      margin-bottom: 0;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 130px;
    height: 130px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    border: 1px solid $color-main;
    transform: translateX(-50%);

    @media screen and (max-width: $screen--xxl - 1) {
      width: 86px;
      height: 86px;
    }

    @media screen and (max-width: $screen--md - 1) {
      width: 96px;
      height: 96px;
    }
  }

  &--account {
    &::before {
      background-color: $color-main;
      background-size: 74px auto;
      background-image: url("../img/bg/create-account.svg");

      @media screen and (max-width: $screen--xxl - 1) {
        background-size: 48px, auto;
      }
    }
  }

  &--qa {
    &::before {
      background-size: 82px auto;
      background-image: url("../img/bg/faq.svg");

      @media screen and (max-width: $screen--xxl - 1) {
        background-size: 55px, auto;
      }
    }
  }

  &--code {
    &::before {
      background-size: 74px auto;
      background-image: url("../img/bg/qr-code.svg");

      @media screen and (max-width: $screen--xxl - 1) {
        background-size: 65px, auto;
      }
    }
  }

  &--success {
    &::before {
      background-size: 98px auto;
      background-image: url("../img/bg/favorite.svg");

      @media screen and (max-width: $screen--xxl - 1) {
        background-size: 65px, auto;
      }
    }
  }
}

.info__item p {
  margin: 0;
  font-size: 29px;

  @media screen and (max-width: $screen--xxl - 1) {
    font-size: 18px;
  }

  @media screen and (max-width: $screen--md - 1) {
    font-size: 21px;
  }

  @media screen and (max-width: $screen--sm - 1) {
    font-size: 18px;
  }
}
