.info {
  @media screen and (max-width: $screen-md - 1) {
    scroll-margin-top: 35px;
  }
}

.info__inner {
  width: 100%;
  max-width: 1630px;
  margin: 0 auto;
  padding: 170px 30px 140px;

  @media screen and (max-width: $screen-lg - 1) {
    padding-top: 140px;
    padding-bottom: 50px;
  }

  @media screen and (max-width: $screen-md - 1) {
    padding-top: 60px;
  }

  @media screen and (max-width: $screen-sm - 1) {
    padding-right: 20px;
    padding-left: 20px;
  }

  @media screen and (max-width: $screen-xxs--425 - 1) {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.info__title-wrap {
  text-align: center;
}

.info__title {
  margin: 0 0 108px;

  @media screen and (max-width: $screen-xxl - 1) {
    margin-bottom: 60px;
  }
}

.info__list {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;

  @media screen and (max-width: $screen-md - 1) {
    flex-wrap: wrap;
    justify-content: center;
    max-width: 760px;
    margin: 0 auto;
  }

  @media screen and (max-width: $screen-xxs--425 - 1) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

.info__item {
  position: relative;
  width: 25%;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 178px;
  text-align: center;

  @media screen and (max-width: $screen-lg - 1) {
    max-width: 270px;
    padding-top: 120px;
    padding-right: 10px;
    padding-left: 10px;
  }

  @media screen and (max-width: $screen-md - 1) {
    width: 48%;
    max-width: 260px;
    margin-bottom: 50px;
  }

  @media screen and (min-width: $screen-xxs--425) and (max-width: $screen-xs--550 - 1) {
    max-width: 200px;
    padding-top: 90px;
    padding-right: 5px;
    padding-left: 5px;
  }

  @media screen and (max-width: $screen-xxs--425 - 1) {
    width: 100%;
    max-width: 220px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 130px;
    height: 130px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    border: 1px solid $color-main;
    transform: translateX(-50%);

    @media screen and (max-width: $screen-lg - 1) {
      width: 86px;
      height: 86px;
    }

    @media screen and (min-width: $screen-xxs--425) and (max-width: $screen-xs--550 - 1) {
      width: 70px;
      height: 70px;
    }
  }

  &--account {
    &::before {
      background-color: $color-main;
      background-size: 74px auto;
      background-image: url("../img/bg/create-account.svg");

      @media screen and (max-width: $screen-lg - 1) {
        background-size: 48px, auto;
      }
    }
  }

  &--qa {
    &::before {
      background-size: 82px auto;
      background-image: url("../img/bg/faq.svg");

      @media screen and (max-width: $screen-lg - 1) {
        background-size: 55px, auto;
      }
    }
  }

  &--code {
    &::before {
      background-size: 74px auto;
      background-image: url("../img/bg/qr-code.svg");

      @media screen and (max-width: $screen-lg - 1) {
        background-size: 65px, auto;
      }
    }
  }

  &--success {
    &::before {
      background-size: 98px auto;
      background-image: url("../img/bg/favorite.svg");

      @media screen and (max-width: $screen-lg - 1) {
        background-size: 65px, auto;
      }
    }
  }
}

.info__item p {
  margin: 0;
  font-size: 29px;

  @media screen and (max-width: $screen-xl - 1) {
    font-size: 25px;
  }

  @media screen and (max-width: $screen-lg - 1) {
    font-size: 20px;
  }

  @media screen and (max-width: $screen-xs--550 - 1) {
    font-size: 16px;
  }
}
