.page-footer {
  color: $color-white;
  background-color: #0d0d0d;
}

.page-footer a {
  color: $color-white;
}

.page-footer .field {
  padding-right: 10px;
  padding-left: 10px;
  font-weight: 300;
  font-size: 18px;
  color: $color-white;
  text-align: center;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid $color-white;

  &::placeholder {
    color: rgba(237, 227, 211, 0.5);
  }
}

.page-footer .field--text {
  height: 35px;
}

.page-footer .btn-image {
  flex-shrink: 0;
  padding-right: 5px;
  padding-left: 5px;
  color: $color-white;
}

.page-footer__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1630px;
  margin: 0 auto;
  padding: 100px 30px 25px;

  @media screen and (max-width: $screen-md - 1) {
    padding-top: 80px;
  }
}

.page-footer__about {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  max-width: 415px;
  padding-left: 20px;
  font-size: 20px;
  line-height: 1.35;
  text-align: center;

  @media screen and (max-width: $screen-lg - 1) {
    padding-left: 0;
  }

  @media screen and (max-width: $screen-md - 1) {
    margin: 0 auto;
  }

  @media screen and (max-width: $screen-xs--550 - 1) {
    width: 100%;
    margin-bottom: 70px;
    font-size: 18px;
  }
}

.page-footer__about p {
  margin: 0 0 1em;

  &:last-child {
    margin-bottom: 0;
  }
}

.page-footer__logo {
  margin-bottom: 55px;
}

.page-footer__second-nav {
  flex-grow: 1;
  justify-content: space-evenly;
  max-width: calc(100% - 780px);
  margin: 0;

  @media screen and (max-width: $screen-lg - 1) {
    max-width: none;
  }
}

.page-footer__title {
  margin: 0 0 20px;
  font-size: 22px;

  @media screen and (max-width: $screen-xs--550) {
    font-size: 18px;
  }
}

.page-footer__social {
  flex-grow: 0;
  flex-shrink: 0;
  padding-top: 94px;
  padding-right: 65px;
  text-align: center;

  @media screen and (max-width: $screen-lg - 1) {
    margin: 0 auto;
    padding-right: 0;
  }

  @media screen and (max-width: $screen-xs--550 - 1) {
    padding-top: 70px;
  }

  @media screen and (max-width: $screen-xxs--425 - 1) {
    flex-grow: 1;
    padding-top: 0;
  }
}

.page-footer__social-links {
  max-width: 245px;
  margin: 0 auto 35px;
  padding-top: 8px;
}

.page-footer__subscribe .form__group-fields {
  position: relative;
  display: flex;
}

.page-footer__subscribe .field {
  min-width: 300px;
  padding-right: 36px;

  @media screen and (max-width: $screen-xs - 1) {
    min-width: auto;
  }
}

.page-footer__subscribe .btn-image {
  position: absolute;
  top: 0;
  right: 0;
  width: 36px;
  height: 100%;

  &:focus,
  &:hover {
    opacity: 0.7;
  }
}

.page-footer__subscribe-text {
  font-weight: 300;
  font-size: 18px;
  margin: 0 0 24px;
}

.page-footer__bottom {
  width: 100%;
  margin-top: 105px;
  text-align: center;

  @media screen and (max-width: $screen-xs--550 - 1) {
    margin-top: 70px;
  }
}

.page-footer__copyright {
  margin-top: 25px;
  margin-bottom: 25px;
  font-weight: 300;

  @media screen and (max-width: $screen-xs--550 - 1) {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 15px;
  }
}
