.partners {
  color: $color-text--invert;
  background: #5b5a5a url("../img/bg/bg-partners.jpg") center top/cover no-repeat;
}

.partners__inner {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding-top: 170px;
  padding-bottom: 55px;

  @media screen and (max-width: $screen-lg - 1) {
    padding-top: 140px;
  }

  @media screen and (max-width: $screen-md - 1) {
    padding: 38px 20px 0;
  }

  @media screen and (max-width: $screen-xxs--425 - 1) {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.partners__title-wrap {
  text-align: center;
}

.partners__title {
  margin: 0 0 60px;
}

.partners__slider {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-right: 120px;
  padding-left: 120px;

  @media screen and (max-width: $screen-md - 1) {
    margin: 0;
    padding: 0;
  }
}
