.stats-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

  @media screen and (max-width: $screen-lg - 1) {
    justify-content: center;
  }

  @media screen and (max-width: $screen-xxs--425 - 1) {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.stats-list__item {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 75px 15px 40px;
  font-weight: 300;
  font-size: 27px;
  color: #2d2d2d;
  text-align: center;

  @media screen and (max-width: $screen-xxl - 1) {
    margin-right: 25px;
  }

  @media screen and (max-width: $screen--sm - 1) {
    margin-right: 0;
    padding-top: 60px;
    padding-bottom: 30px;
    font-size: 22px;
  }

  @media screen and (max-width: $screen-xs--550 - 1) {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 18px;
  }

  @media screen and (max-width: $screen-xxs--425 - 1) {
    margin-bottom: 30px;
    padding: 0 20px;
  }

  &:last-child {
    @media screen and (max-width: $screen-xxl - 1) {
      margin-right: 0;
    }

    @media screen and (max-width: $screen-xxs--425 - 1) {
      margin-bottom: 0;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 50px;
    height: 50px;
    border: 2px solid $color-white;
    border-radius: 50%;
    transform: translateX(-50%);

    @media screen and (max-width: $screen--sm - 1) {
      width: 40px;
      height: 40px;
    }

    @media screen and (max-width: $screen-xs--550 - 1) {
      width: 35px;
      height: 35px;
    }

    @media screen and (max-width: $screen-xxs--425 - 1) {
      content: none;
    }
  }

  &::after {
    content: "";
    position: absolute;
    right: 15px;
    bottom: 0;
    left: 15px;
    display: block;
    height: 5px;

    @media screen and (max-width: $screen-xs--550 - 1) {
      right: 10px;
      left: 10px;
    }

    @media screen and (max-width: $screen-xxs--425 - 1) {
      top: 0;
      right: auto;
      left: 0;
      width: 4px;
      height: auto;
    }
  }

  &--audience {
    &::before {
      background-color: #4ca59a;
      box-shadow: 0 0 0 12px #a5d2cc;

      @media screen and (max-width: $screen--sm - 1) {
        box-shadow: 0 0 0 8px #a5d2cc;
      }
    }

    &::after {
      background-color: #4ca59a;
    }
  }

  &--hours {
    &::before {
      background-color: #f26250;
      box-shadow: 0 0 0 12px #f8b0a7;

      @media screen and (max-width: $screen--sm - 1) {
        box-shadow: 0 0 0 8px #f8b0a7;
      }
    }

    &::after {
      background-color: #f26250;
    }
  }

  &--events {
    &::before {
      background-color: #f0a765;
      box-shadow: 0 0 0 12px #f7d3b2;

      @media screen and (max-width: $screen--sm - 1) {
        box-shadow: 0 0 0 8px #f7d3b2;
      }
    }

    &::after {
      background-color: #f0a765;
    }
  }
}

.stats-list__item p {
  margin: 0;
}

.stats-list__item span {
  display: block;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 56px;

  @media screen and (max-width: $screen--sm - 1) {
    font-size: 40px;
  }

  @media screen and (max-width: $screen-xs--550 - 1) {
    font-size: 30px;
  }
}

.stats-list__item--audience span {
  color: #4ca59a;
}

.stats-list__item--hours span {
  color: #f26250;
}

.stats-list__item--events span {
  color: #f0a765;
}
