.title {
  position: relative;
  display: inline-block;
  font-weight: 300;
  font-size: 66px;
  letter-spacing: 0.075em;

  @media screen and (max-width: $screen-lg - 1) {
    font-size: 50px;
  }

  @media screen and (max-width: $screen-md - 1) {
    font-size: 45px;
  }

  @media screen and (max-width: $screen-xs--550 - 1) {
    font-size: 25px;
  }
}

.title svg {
  position: absolute;
  top: 100%;
  left: 0.075em;
  width: 102px;
  height: 5px;
  fill: currentColor;

  @media screen and (max-width: $screen-lg - 1) {
    width: 86px;
    height: 4px;
  }
}

.title--icon-right svg {
  right: 0.075em;
  left: auto;
  transform: scaleX(-1);
}
